body{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

#login{
    justify-content:right;

}


.agregarA,
.agregarUsuario,
.agregCotiz,
#agregU,
#cotiza
{
    display: flex;
    justify-content: space-between;
    gap: 400px;
    border-radius: 8px;
         
}
#searchcot{
    margin: 8px;
    width: 200px;
    height:30px;   
    border-radius: 8px; 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49); 

}

#searchco{
    margin: 8px;
    width: 165px;
    height:30px;   
    border-radius: 8px; 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);  

}

#btn-agregarmo,
#searchU,
#searchC,
#searchA,
#searchco
{
    margin: 8px;
    width: 180px;
    height:30px;   
    border-radius: 8px; 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);    

}



#btn_atras{
    width: 90px;
    height:36px; 
    border-radius: 8px; 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);    
}

#table{
border-radius: 8px;
box-shadow: -1px 1px 32px 22px rgba(0,0,0,0.75);

}


#btn_agregarco{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);


}
#btn_agregar-co{
    width:400px;
    height:35px;   
    border-radius: 8px; 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);    

}
#containerlo{
    display: flex;
    flex-direction: row;
    
  
}

.precio-u{
    color:black;

}

.agregarbtn{
    
    width:70px;
    height:35px;   
    border-radius: 8px; 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);  
    
}




#agregA{   
      
    margin: 8px;
    width:160px; 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49); 
}


.titulo,
.navbar-nav
{
    margin-left: 100px;
    padding: 10px;
    font-size: 20px;
    
}

#graficas{

  margin-right: 50px;
  width: 700px;
  height: 400px;    
  background: white;   
    border-radius: 8px; 
    box-shadow: -1px 1px 32px 22px rgba(0,0,0,0.75);
        
 

} 

.cotizanew{
    margin-right: 50px;
    width: 700px;
    height: 400px;    
    background: white;   
      border-radius: 8px; 
      box-shadow: -1px 1px 32px 22px rgba(0,0,0,0.75);


}